<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <ul>
        <li><%= link_to 'following_list', followings_user_path  %></li>
        <li><%= link_to 'follower_list', followers_user_path %></li>
      </ul>
      
    </section>
  </aside>
  <div class="col-md-8">
     <% if @user.following_users.present?  %>
     <h3>followings (<%= @user.following_users.count %>)</h3>
       <ul class="follow">
        <%= render @followings %>
        </ul>
      <% else %>
       フォローしていません。
    <% end %>
  </div>
</div>