<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
      <ul>
        <li><%= link_to 'following_list', followings_user_path  %> (<%= @user.following_users.count %>)</li>
        <li><%= link_to 'follower_list', followers_user_path %> (<%= @user.follower_users.count %>)</li>
      </ul>
  </aside>
  <div class="col-md-8">
    <h3>followers (<%= @user.follower_users.count %>)</h3>
     <% if @user.follower_users.present? %>
       <ul class="follower" style="list-style:none;">
        <%= render @followers %>
        </ul>
      <% else %>
       フォローされていません。
    <% end %>
  </div>
</div>